<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr />
    </div>
  </div>

  <div fxFlex *ngIf="dishes" [@expand]>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight>
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
        <img height="200px" src="{{ baseURL + dish.image }}" alt={{dish.name}}>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex [hidden]="dishes || menuErrorMessage">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait</h4>
  </div>

  <div fxFlex *ngIf="menuErrorMessage">
    <h2>Error</h2>
    <h4>{{errorMessage}}</h4>
  </div>

</div>
