<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}} />
      <mat-card-content>
        <p>{{dish.description}}</p>
        <button mat-button [routerLink]="['/dishdetail', prevID]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>SHARE</button>
        <button mat-button>SHARE</button>
        <button mat-button [routerLink]="['/dishdetail', nextID]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
      <h3><b>Comments</b></h3>
      <mat-list-item *ngFor="let c of dish.comments">
        <p matLine>{{c.comment}}</p>
        <p matLine>{{c.rating}} Stars</p>
        <p matLine>-- {{c.author}} {{c.date | date}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid">
        <p matLine>{{commentForm.value.comment}}</p>
        <p matLine>{{commentForm.value.rating}} Stars</p>
        <p matLine>-- {{commentForm.value.author}}</p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="commentForm" #commentform="ngForm" (ngSubmit)="onSubmit()">
      <p>{{ preview() }} </p>
      <p>
        <mat-form-field fxFlex="100">
          <input matInput formControlName="author" placeholder="Name" type="text">
          <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider matInput thumbLabel formControlName="rating" placeholder="Rating" type="number" 
                    min="1" max="5" step="1" tickInterval="1"></mat-slider>
      </p>
      <p>
        <mat-form-field fxFlex="100">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows="10" type="text"></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button [disabled]="commentForm.invalid"
              class="background-primary text-floral-white">Submit</button>
    </form>
  </div>

  <div [hidden]="dish || dishErrorMessage">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait</h4>
  </div>
  <div fxFlex *ngIf="dishErrorMessage">
    <h2>Error</h2>
    <h4>{{dishErrorMessage}}</h4>
  </div>

</div>
