<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

  <mat-card *ngIf="dish" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="dish || dishErrorMessage">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait</h4>
  </div>
  <div fxFlex *ngIf="dishErrorMessage">
    <h2>Error</h2>
    <h4>{{dishErrorMessage}}</h4>
  </div>

  <mat-card *ngIf="promotion" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseURL + promotion.image }}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="promotion || promotionErrorMessage">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait</h4>
  </div>
  <div fxFlex *ngIf="promotionErrorMessage">
    <h2>Error</h2>
    <h4>{{promotionErrorMessage}}</h4>
  </div>

  <mat-card *ngIf="leader" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseURL + leader.image }}" alt={{leader.name}}>
    <mat-card-content>
      <p>{{leader.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="leader || leaderErrorMessage">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait</h4>
  </div>
  <div fxFlex *ngIf="leaderErrorMessage">
    <h2>Error</h2>
    <h4>{{leaderErrorMessage}}</h4>
  </div>

</div>
